In [1]:
import numpy as np

In [2]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
'this is an integer %d' %15

'this is an integer 15'

In [5]:
'this is an integer %4d' %15

'this is an integer   15'

In [6]:
'this is a float %8.2f' %15.3456

'this is a float    15.35'

In [7]:
'this is a float %08.2f' %15.3456

'this is a float 00015.35'

In [8]:
'this is a string %s' %'python'

'this is a string python'

In [9]:
'this is an integer {:d}'.format(15)

'this is an integer 15'

In [10]:
'this is a float {:f}'.format(15.34)

'this is a float 15.340000'

In [11]:
'this is a string {:s}'.format('string')

'this is a string string'

In [12]:
i = 0
while i < 4:
    print('this is a {:d}'.format(i))
    i += 1

this is a 0
this is a 1
this is a 2
this is a 3

# Session Two

In [13]:
m = list([i ** 2 for i in range(5)])
m
#n = ''.join(m)

[0, 1, 4, 9, 16]

In [14]:
type(m)

list

In [15]:
def f(x):
    return x ** 2
g = f(3)

In [16]:
def even(x):
    return x % 2 == 0
even(3)

False

In [17]:
list(map(even, range(10)))
# apply even to every element of range 10

[True, False, True, False, True, False, True, False, True, False]

In [18]:
list(map(lambda x: x ** 2, range(10))) # lambdas are anonymous funtions

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
[x ** 2 for x in range(10)] # same as above

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

## Dictionaries

In [21]:
d = {
    'Name' : 'Angela Merkel',
    'Country' : 'Germany',
    'Profession' : 'Chancellor',
    'Age' : 63, # do not put ints in ''
    }
type(d)

dict

In [22]:
print(d['Name'], d['Age'])

Angela Merkel 63

In [23]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [24]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancellor', 63])

In [25]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancellor'), ('Age', 63)])

In [26]:
birthday = True
if birthday is True:
    d['Age'] += 1 # <- in place addition
print(d['Age'])

64

In [27]:
for item in d.items():
    print(item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancellor')
('Age', 64)

In [28]:
for value in d.values():
    print(value)

Angela Merkel
Germany
Chancellor
64

## Sets

U and D etc are taken from derivative up, down, down + up etc

In [29]:
s = set(['u', 'd', 'ud', 'du', 'd', 'du'])
s

{'d', 'du', 'u', 'ud'}

In [30]:
t = set(['d', 'dd', 'uu', 'u'])
t

{'d', 'dd', 'u', 'uu'}

In [31]:
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [32]:
s.intersection(t)

{'d', 'u'}

In [33]:
s.difference(t)

{'du', 'ud'}

In [34]:
t.difference(s)

{'dd', 'uu'}

In [35]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

In [36]:
from random import randint
l = [randint(0,10) for i in range(1000)]
len(l)

1000

In [37]:
l[:20]

[8, 4, 1, 5, 6, 7, 3, 6, 4, 3, 7, 0, 1, 7, 9, 4, 5, 9, 6, 0]

In [38]:
s = set(l)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Case Study

In [39]:
url = 'http://hilpisch.com/Titanic.csv'

In [40]:
import requests

In [41]:
requests.get(url).text

'"","Class","Sex","Age","Survived","Freq"\n"1","1st","Male","Child","No",0\n"2","2nd","Male","Child","No",0\n"3","3rd","Male","Child","No",35\n"4","Crew","Male","Child","No",0\n"5","1st","Female","Child","No",0\n"6","2nd","Female","Child","No",0\n"7","3rd","Female","Child","No",17\n"8","Crew","Female","Child","No",0\n"9","1st","Male","Adult","No",118\n"10","2nd","Male","Adult","No",154\n"11","3rd","Male","Adult","No",387\n"12","Crew","Male","Adult","No",670\n"13","1st","Female","Adult","No",4\n"14","2nd","Female","Adult","No",13\n"15","3rd","Female","Adult","No",89\n"16","Crew","Female","Adult","No",3\n"17","1st","Male","Child","Yes",5\n"18","2nd","Male","Child","Yes",11\n"19","3rd","Male","Child","Yes",13\n"20","Crew","Male","Child","Yes",0\n"21","1st","Female","Child","Yes",1\n"22","2nd","Female","Child","Yes",13\n"23","3rd","Female","Child","Yes",14\n"24","Crew","Female","Child","Yes",0\n"25","1st","Male","Adult","Yes",57\n"26","2nd","Male","Adult","Yes",14\n"27","3rd","Male","Adult","Yes",75\n"28","Crew","Male","Adult","Yes",192\n"29","1st","Female","Adult","Yes",140\n"30","2nd","Female","Adult","Yes",80\n"31","3rd","Female","Adult","Yes",76\n"32","Crew","Female","Adult","Yes",20\n'

In [42]:
raw = requests.get(url).text

In [43]:
raw

'"","Class","Sex","Age","Survived","Freq"\n"1","1st","Male","Child","No",0\n"2","2nd","Male","Child","No",0\n"3","3rd","Male","Child","No",35\n"4","Crew","Male","Child","No",0\n"5","1st","Female","Child","No",0\n"6","2nd","Female","Child","No",0\n"7","3rd","Female","Child","No",17\n"8","Crew","Female","Child","No",0\n"9","1st","Male","Adult","No",118\n"10","2nd","Male","Adult","No",154\n"11","3rd","Male","Adult","No",387\n"12","Crew","Male","Adult","No",670\n"13","1st","Female","Adult","No",4\n"14","2nd","Female","Adult","No",13\n"15","3rd","Female","Adult","No",89\n"16","Crew","Female","Adult","No",3\n"17","1st","Male","Child","Yes",5\n"18","2nd","Male","Child","Yes",11\n"19","3rd","Male","Child","Yes",13\n"20","Crew","Male","Child","Yes",0\n"21","1st","Female","Child","Yes",1\n"22","2nd","Female","Child","Yes",13\n"23","3rd","Female","Child","Yes",14\n"24","Crew","Female","Child","Yes",0\n"25","1st","Male","Adult","Yes",57\n"26","2nd","Male","Adult","Yes",14\n"27","3rd","Male","Adult","Yes",75\n"28","Crew","Male","Adult","Yes",192\n"29","1st","Female","Adult","Yes",140\n"30","2nd","Female","Adult","Yes",80\n"31","3rd","Female","Adult","Yes",76\n"32","Crew","Female","Adult","Yes",20\n'

In [44]:
print(raw)

"","Class","Sex","Age","Survived","Freq"
"1","1st","Male","Child","No",0
"2","2nd","Male","Child","No",0
"3","3rd","Male","Child","No",35
"4","Crew","Male","Child","No",0
"5","1st","Female","Child","No",0
"6","2nd","Female","Child","No",0
"7","3rd","Female","Child","No",17
"8","Crew","Female","Child","No",0
"9","1st","Male","Adult","No",118
"10","2nd","Male","Adult","No",154
"11","3rd","Male","Adult","No",387
"12","Crew","Male","Adult","No",670
"13","1st","Female","Adult","No",4
"14","2nd","Female","Adult","No",13
"15","3rd","Female","Adult","No",89
"16","Crew","Female","Adult","No",3
"17","1st","Male","Child","Yes",5
"18","2nd","Male","Child","Yes",11
"19","3rd","Male","Child","Yes",13
"20","Crew","Male","Child","Yes",0
"21","1st","Female","Child","Yes",1
"22","2nd","Female","Child","Yes",13
"23","3rd","Female","Child","Yes",14
"24","Crew","Female","Child","Yes",0
"25","1st","Male","Adult","Yes",57
"26","2nd","Male","Adult","Yes",14
"27","3rd","Male","Adult","Yes",75
"28","Crew","Male","Adult","Yes",192
"29","1st","Female","Adult","Yes",140
"30","2nd","Female","Adult","Yes",80
"31","3rd","Female","Adult","Yes",76
"32","Crew","Female","Adult","Yes",20

In [45]:
data = raw.split('\n') # seperating into seperate strings
data

['"","Class","Sex","Age","Survived","Freq"',
 '"1","1st","Male","Child","No",0',
 '"2","2nd","Male","Child","No",0',
 '"3","3rd","Male","Child","No",35',
 '"4","Crew","Male","Child","No",0',
 '"5","1st","Female","Child","No",0',
 '"6","2nd","Female","Child","No",0',
 '"7","3rd","Female","Child","No",17',
 '"8","Crew","Female","Child","No",0',
 '"9","1st","Male","Adult","No",118',
 '"10","2nd","Male","Adult","No",154',
 '"11","3rd","Male","Adult","No",387',
 '"12","Crew","Male","Adult","No",670',
 '"13","1st","Female","Adult","No",4',
 '"14","2nd","Female","Adult","No",13',
 '"15","3rd","Female","Adult","No",89',
 '"16","Crew","Female","Adult","No",3',
 '"17","1st","Male","Child","Yes",5',
 '"18","2nd","Male","Child","Yes",11',
 '"19","3rd","Male","Child","Yes",13',
 '"20","Crew","Male","Child","Yes",0',
 '"21","1st","Female","Child","Yes",1',
 '"22","2nd","Female","Child","Yes",13',
 '"23","3rd","Female","Child","Yes",14',
 '"24","Crew","Female","Child","Yes",0',
 '"25","1st","Male","Adult","Yes",57',
 '"26","2nd","Male","Adult","Yes",14',
 '"27","3rd","Male","Adult","Yes",75',
 '"28","Crew","Male","Adult","Yes",192',
 '"29","1st","Female","Adult","Yes",140',
 '"30","2nd","Female","Adult","Yes",80',
 '"31","3rd","Female","Adult","Yes",76',
 '"32","Crew","Female","Adult","Yes",20',
 '']

In [46]:
data[1] # a string of strings... outside single quotes, double quotes on inside

'"1","1st","Male","Child","No",0'

In [47]:
data[1].replace('"', '')

'1,1st,Male,Child,No,0'

In [48]:
data[1].replace('"', '').split(',')

['1', '1st', 'Male', 'Child', 'No', '0']

In [49]:
data = [row.replace('"','').split(',') for row in data[1:-1]] # had to replace title row and empty last row

In [50]:
data

[['1', '1st', 'Male', 'Child', 'No', '0'],
 ['2', '2nd', 'Male', 'Child', 'No', '0'],
 ['3', '3rd', 'Male', 'Child', 'No', '35'],
 ['4', 'Crew', 'Male', 'Child', 'No', '0'],
 ['5', '1st', 'Female', 'Child', 'No', '0'],
 ['6', '2nd', 'Female', 'Child', 'No', '0'],
 ['7', '3rd', 'Female', 'Child', 'No', '17'],
 ['8', 'Crew', 'Female', 'Child', 'No', '0'],
 ['9', '1st', 'Male', 'Adult', 'No', '118'],
 ['10', '2nd', 'Male', 'Adult', 'No', '154'],
 ['11', '3rd', 'Male', 'Adult', 'No', '387'],
 ['12', 'Crew', 'Male', 'Adult', 'No', '670'],
 ['13', '1st', 'Female', 'Adult', 'No', '4'],
 ['14', '2nd', 'Female', 'Adult', 'No', '13'],
 ['15', '3rd', 'Female', 'Adult', 'No', '89'],
 ['16', 'Crew', 'Female', 'Adult', 'No', '3'],
 ['17', '1st', 'Male', 'Child', 'Yes', '5'],
 ['18', '2nd', 'Male', 'Child', 'Yes', '11'],
 ['19', '3rd', 'Male', 'Child', 'Yes', '13'],
 ['20', 'Crew', 'Male', 'Child', 'Yes', '0'],
 ['21', '1st', 'Female', 'Child', 'Yes', '1'],
 ['22', '2nd', 'Female', 'Child', 'Yes', '13'],
 ['23', '3rd', 'Female', 'Child', 'Yes', '14'],
 ['24', 'Crew', 'Female', 'Child', 'Yes', '0'],
 ['25', '1st', 'Male', 'Adult', 'Yes', '57'],
 ['26', '2nd', 'Male', 'Adult', 'Yes', '14'],
 ['27', '3rd', 'Male', 'Adult', 'Yes', '75'],
 ['28', 'Crew', 'Male', 'Adult', 'Yes', '192'],
 ['29', '1st', 'Female', 'Adult', 'Yes', '140'],
 ['30', '2nd', 'Female', 'Adult', 'Yes', '80'],
 ['31', '3rd', 'Female', 'Adult', 'Yes', '76'],
 ['32', 'Crew', 'Female', 'Adult', 'Yes', '20']]

In [51]:
data[0][-1] # row 0, last element

'0'

In [52]:
int(data[0][-1]) # convert to int

0

In [53]:
[int(row[-1]) for row in data]

[0,
 0,
 35,
 0,
 0,
 0,
 17,
 0,
 118,
 154,
 387,
 670,
 4,
 13,
 89,
 3,
 5,
 11,
 13,
 0,
 1,
 13,
 14,
 0,
 57,
 14,
 75,
 192,
 140,
 80,
 76,
 20]

In [54]:
sum(int(row[-1]) for row in data)

2201

In [55]:
sum(int(row[-1]) for row in data if row[-2] == 'Yes')

711

In [56]:
sum(int(row[-1]) for row in data if row[-2] == 'Yes' and row[2] == 'Female')

344

## Reading Data from a Disk

In [57]:
!cat Titanic.csv

"","Class","Sex","Age","Survived","Freq"
"1","1st","Male","Child","No",0
"2","2nd","Male","Child","No",0
"3","3rd","Male","Child","No",35
"4","Crew","Male","Child","No",0
"5","1st","Female","Child","No",0
"6","2nd","Female","Child","No",0
"7","3rd","Female","Child","No",17
"8","Crew","Female","Child","No",0
"9","1st","Male","Adult","No",118
"10","2nd","Male","Adult","No",154
"11","3rd","Male","Adult","No",387
"12","Crew","Male","Adult","No",670
"13","1st","Female","Adult","No",4
"14","2nd","Female","Adult","No",13
"15","3rd","Female","Adult","No",89
"16","Crew","Female","Adult","No",3
"17","1st","Male","Child","Yes",5
"18","2nd","Male","Child","Yes",11
"19","3rd","Male","Child","Yes",13
"20","Crew","Male","Child","Yes",0
"21","1st","Female","Child","Yes",1
"22","2nd","Female","Child","Yes",13
"23","3rd","Female","Child","Yes",14
"24","Crew","Female","Child","Yes",0
"25","1st","Male","Adult","Yes",57
"26","2nd","Male","Adult","Yes",14
"27","3rd","Male","Adult","Yes",75
"28","Crew","Male","Adult","Yes",192
"29","1st","Female","Adult","Yes",140
"30","2nd","Female","Adult","Yes",80
"31","3rd","Female","Adult","Yes",76
"32","Crew","Female","Adult","Yes",20

In [58]:
!wget 'http://hilpisch.com/Titanic.csv'

--2019-06-03 10:45:03--  http://hilpisch.com/Titanic.csv
Resolving hilpisch.com (hilpisch.com)... 80.82.223.106
Connecting to hilpisch.com (hilpisch.com)|80.82.223.106|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1170 (1.1K) [text/plain]
Saving to: ‘Titanic.csv.1’

Titanic.csv.1       100%[===================>]   1.14K  --.-KB/s    in 0s

2019-06-03 10:45:03 (79.7 MB/s) - ‘Titanic.csv.1’ saved [1170/1170]

In [59]:
!cat Titanic.csv

"","Class","Sex","Age","Survived","Freq"
"1","1st","Male","Child","No",0
"2","2nd","Male","Child","No",0
"3","3rd","Male","Child","No",35
"4","Crew","Male","Child","No",0
"5","1st","Female","Child","No",0
"6","2nd","Female","Child","No",0
"7","3rd","Female","Child","No",17
"8","Crew","Female","Child","No",0
"9","1st","Male","Adult","No",118
"10","2nd","Male","Adult","No",154
"11","3rd","Male","Adult","No",387
"12","Crew","Male","Adult","No",670
"13","1st","Female","Adult","No",4
"14","2nd","Female","Adult","No",13
"15","3rd","Female","Adult","No",89
"16","Crew","Female","Adult","No",3
"17","1st","Male","Child","Yes",5
"18","2nd","Male","Child","Yes",11
"19","3rd","Male","Child","Yes",13
"20","Crew","Male","Child","Yes",0
"21","1st","Female","Child","Yes",1
"22","2nd","Female","Child","Yes",13
"23","3rd","Female","Child","Yes",14
"24","Crew","Female","Child","Yes",0
"25","1st","Male","Adult","Yes",57
"26","2nd","Male","Adult","Yes",14
"27","3rd","Male","Adult","Yes",75
"28","Crew","Male","Adult","Yes",192
"29","1st","Female","Adult","Yes",140
"30","2nd","Female","Adult","Yes",80
"31","3rd","Female","Adult","Yes",76
"32","Crew","Female","Adult","Yes",20

In [60]:
f = open('Titanic.csv', 'r')

In [61]:
f

In [62]:
f.read()

'"","Class","Sex","Age","Survived","Freq"\n"1","1st","Male","Child","No",0\n"2","2nd","Male","Child","No",0\n"3","3rd","Male","Child","No",35\n"4","Crew","Male","Child","No",0\n"5","1st","Female","Child","No",0\n"6","2nd","Female","Child","No",0\n"7","3rd","Female","Child","No",17\n"8","Crew","Female","Child","No",0\n"9","1st","Male","Adult","No",118\n"10","2nd","Male","Adult","No",154\n"11","3rd","Male","Adult","No",387\n"12","Crew","Male","Adult","No",670\n"13","1st","Female","Adult","No",4\n"14","2nd","Female","Adult","No",13\n"15","3rd","Female","Adult","No",89\n"16","Crew","Female","Adult","No",3\n"17","1st","Male","Child","Yes",5\n"18","2nd","Male","Child","Yes",11\n"19","3rd","Male","Child","Yes",13\n"20","Crew","Male","Child","Yes",0\n"21","1st","Female","Child","Yes",1\n"22","2nd","Female","Child","Yes",13\n"23","3rd","Female","Child","Yes",14\n"24","Crew","Female","Child","Yes",0\n"25","1st","Male","Adult","Yes",57\n"26","2nd","Male","Adult","Yes",14\n"27","3rd","Male","Adult","Yes",75\n"28","Crew","Male","Adult","Yes",192\n"29","1st","Female","Adult","Yes",140\n"30","2nd","Female","Adult","Yes",80\n"31","3rd","Female","Adult","Yes",76\n"32","Crew","Female","Adult","Yes",20\n'

In [63]:
with open('Titanic.csv', 'r') as f:
    for _ in range(5):
        print(_, f.readline(), end='') # with end

0 "","Class","Sex","Age","Survived","Freq"
1 "1","1st","Male","Child","No",0
2 "2","2nd","Male","Child","No",0
3 "3","3rd","Male","Child","No",35
4 "4","Crew","Male","Child","No",0

In [64]:
with open('Titanic.csv', 'r') as f:
    for _ in range(5):
        print(_, f.readline()) # without end

0 "","Class","Sex","Age","Survived","Freq"

1 "1","1st","Male","Child","No",0

2 "2","2nd","Male","Child","No",0

3 "3","3rd","Male","Child","No",35

4 "4","Crew","Male","Child","No",0

## Work With CSV Modules

In [65]:
import csv

In [66]:
reader = csv.reader(open('Titanic.csv', 'r'))

In [67]:
data = []
for row in reader:
    data.append(row)

In [68]:
data

[['', 'Class', 'Sex', 'Age', 'Survived', 'Freq'],
 ['1', '1st', 'Male', 'Child', 'No', '0'],
 ['2', '2nd', 'Male', 'Child', 'No', '0'],
 ['3', '3rd', 'Male', 'Child', 'No', '35'],
 ['4', 'Crew', 'Male', 'Child', 'No', '0'],
 ['5', '1st', 'Female', 'Child', 'No', '0'],
 ['6', '2nd', 'Female', 'Child', 'No', '0'],
 ['7', '3rd', 'Female', 'Child', 'No', '17'],
 ['8', 'Crew', 'Female', 'Child', 'No', '0'],
 ['9', '1st', 'Male', 'Adult', 'No', '118'],
 ['10', '2nd', 'Male', 'Adult', 'No', '154'],
 ['11', '3rd', 'Male', 'Adult', 'No', '387'],
 ['12', 'Crew', 'Male', 'Adult', 'No', '670'],
 ['13', '1st', 'Female', 'Adult', 'No', '4'],
 ['14', '2nd', 'Female', 'Adult', 'No', '13'],
 ['15', '3rd', 'Female', 'Adult', 'No', '89'],
 ['16', 'Crew', 'Female', 'Adult', 'No', '3'],
 ['17', '1st', 'Male', 'Child', 'Yes', '5'],
 ['18', '2nd', 'Male', 'Child', 'Yes', '11'],
 ['19', '3rd', 'Male', 'Child', 'Yes', '13'],
 ['20', 'Crew', 'Male', 'Child', 'Yes', '0'],
 ['21', '1st', 'Female', 'Child', 'Yes', '1'],
 ['22', '2nd', 'Female', 'Child', 'Yes', '13'],
 ['23', '3rd', 'Female', 'Child', 'Yes', '14'],
 ['24', 'Crew', 'Female', 'Child', 'Yes', '0'],
 ['25', '1st', 'Male', 'Adult', 'Yes', '57'],
 ['26', '2nd', 'Male', 'Adult', 'Yes', '14'],
 ['27', '3rd', 'Male', 'Adult', 'Yes', '75'],
 ['28', 'Crew', 'Male', 'Adult', 'Yes', '192'],
 ['29', '1st', 'Female', 'Adult', 'Yes', '140'],
 ['30', '2nd', 'Female', 'Adult', 'Yes', '80'],
 ['31', '3rd', 'Female', 'Adult', 'Yes', '76'],
 ['32', 'Crew', 'Female', 'Adult', 'Yes', '20']]

In [69]:
reader = csv.reader(open('Titanic.csv', 'r'))

In [70]:
data = [row for row in reader]

In [71]:
data

[['', 'Class', 'Sex', 'Age', 'Survived', 'Freq'],
 ['1', '1st', 'Male', 'Child', 'No', '0'],
 ['2', '2nd', 'Male', 'Child', 'No', '0'],
 ['3', '3rd', 'Male', 'Child', 'No', '35'],
 ['4', 'Crew', 'Male', 'Child', 'No', '0'],
 ['5', '1st', 'Female', 'Child', 'No', '0'],
 ['6', '2nd', 'Female', 'Child', 'No', '0'],
 ['7', '3rd', 'Female', 'Child', 'No', '17'],
 ['8', 'Crew', 'Female', 'Child', 'No', '0'],
 ['9', '1st', 'Male', 'Adult', 'No', '118'],
 ['10', '2nd', 'Male', 'Adult', 'No', '154'],
 ['11', '3rd', 'Male', 'Adult', 'No', '387'],
 ['12', 'Crew', 'Male', 'Adult', 'No', '670'],
 ['13', '1st', 'Female', 'Adult', 'No', '4'],
 ['14', '2nd', 'Female', 'Adult', 'No', '13'],
 ['15', '3rd', 'Female', 'Adult', 'No', '89'],
 ['16', 'Crew', 'Female', 'Adult', 'No', '3'],
 ['17', '1st', 'Male', 'Child', 'Yes', '5'],
 ['18', '2nd', 'Male', 'Child', 'Yes', '11'],
 ['19', '3rd', 'Male', 'Child', 'Yes', '13'],
 ['20', 'Crew', 'Male', 'Child', 'Yes', '0'],
 ['21', '1st', 'Female', 'Child', 'Yes', '1'],
 ['22', '2nd', 'Female', 'Child', 'Yes', '13'],
 ['23', '3rd', 'Female', 'Child', 'Yes', '14'],
 ['24', 'Crew', 'Female', 'Child', 'Yes', '0'],
 ['25', '1st', 'Male', 'Adult', 'Yes', '57'],
 ['26', '2nd', 'Male', 'Adult', 'Yes', '14'],
 ['27', '3rd', 'Male', 'Adult', 'Yes', '75'],
 ['28', 'Crew', 'Male', 'Adult', 'Yes', '192'],
 ['29', '1st', 'Female', 'Adult', 'Yes', '140'],
 ['30', '2nd', 'Female', 'Adult', 'Yes', '80'],
 ['31', '3rd', 'Female', 'Adult', 'Yes', '76'],
 ['32', 'Crew', 'Female', 'Adult', 'Yes', '20']]

In [72]:
data[:5]

[['', 'Class', 'Sex', 'Age', 'Survived', 'Freq'],
 ['1', '1st', 'Male', 'Child', 'No', '0'],
 ['2', '2nd', 'Male', 'Child', 'No', '0'],
 ['3', '3rd', 'Male', 'Child', 'No', '35'],
 ['4', 'Crew', 'Male', 'Child', 'No', '0']]

In [73]:
sum(int(row[-1]) for row in data[1:])

2201

In [74]:
dict_reader = csv.DictReader(open('Titanic.csv','r'))

In [75]:
data = [row for row in dict_reader]

In [76]:
data[:3]

[OrderedDict([('', '1'),
              ('Class', '1st'),
              ('Sex', 'Male'),
              ('Age', 'Child'),
              ('Survived', 'No'),
              ('Freq', '0')]),
 OrderedDict([('', '2'),
              ('Class', '2nd'),
              ('Sex', 'Male'),
              ('Age', 'Child'),
              ('Survived', 'No'),
              ('Freq', '0')]),
 OrderedDict([('', '3'),
              ('Class', '3rd'),
              ('Sex', 'Male'),
              ('Age', 'Child'),
              ('Survived', 'No'),
              ('Freq', '35')])]

In [77]:
sum([int(row['Freq']) for row in data[1:]])

2201

In [78]:
sum(int(row['Freq']) for row in data if row['Sex'] == 'Male')

1731

## Using Pandas

In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('Titanic.csv')

In [81]:
df

    Unnamed: 0 Class     Sex    Age Survived  Freq
0            1   1st    Male  Child       No     0
1            2   2nd    Male  Child       No     0
2            3   3rd    Male  Child       No    35
3            4  Crew    Male  Child       No     0
4            5   1st  Female  Child       No     0
5            6   2nd  Female  Child       No     0
6            7   3rd  Female  Child       No    17
7            8  Crew  Female  Child       No     0
8            9   1st    Male  Adult       No   118
9           10   2nd    Male  Adult       No   154
10          11   3rd    Male  Adult       No   387
11          12  Crew    Male  Adult       No   670
12          13   1st  Female  Adult       No     4
13          14   2nd  Female  Adult       No    13
14          15   3rd  Female  Adult       No    89
15          16  Crew  Female  Adult       No     3
16          17   1st    Male  Child      Yes     5
17          18   2nd    Male  Child      Yes    11
18          19   3rd    Male  Child      Yes    13
19          20  Crew    Male  Child      Yes     0
20          21   1st  Female  Child      Yes     1
21          22   2nd  Female  Child      Yes    13
22          23   3rd  Female  Child      Yes    14
23          24  Crew  Female  Child      Yes     0
24          25   1st    Male  Adult      Yes    57
25          26   2nd    Male  Adult      Yes    14
26          27   3rd    Male  Adult      Yes    75
27          28  Crew    Male  Adult      Yes   192
28          29   1st  Female  Adult      Yes   140
29          30   2nd  Female  Adult      Yes    80
30          31   3rd  Female  Adult      Yes    76
31          32  Crew  Female  Adult      Yes    20

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
Unnamed: 0    32 non-null int64
Class         32 non-null object
Sex           32 non-null object
Age           32 non-null object
Survived      32 non-null object
Freq          32 non-null int64
dtypes: int64(2), object(4)
memory usage: 1.6+ KB

In [83]:
df['Freq'].sum()

2201

In [84]:
df['Survived'] == 'Yes'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
Name: Survived, dtype: bool

In [85]:
df[df['Survived'] == 'Yes']

    Unnamed: 0 Class     Sex    Age Survived  Freq
16          17   1st    Male  Child      Yes     5
17          18   2nd    Male  Child      Yes    11
18          19   3rd    Male  Child      Yes    13
19          20  Crew    Male  Child      Yes     0
20          21   1st  Female  Child      Yes     1
21          22   2nd  Female  Child      Yes    13
22          23   3rd  Female  Child      Yes    14
23          24  Crew  Female  Child      Yes     0
24          25   1st    Male  Adult      Yes    57
25          26   2nd    Male  Adult      Yes    14
26          27   3rd    Male  Adult      Yes    75
27          28  Crew    Male  Adult      Yes   192
28          29   1st  Female  Adult      Yes   140
29          30   2nd  Female  Adult      Yes    80
30          31   3rd  Female  Adult      Yes    76
31          32  Crew  Female  Adult      Yes    20

In [86]:
df[df['Survived'] == 'Yes']['Freq'].sum()

711

In [87]:
groups = df.groupby(['Class','Sex','Survived','Age']).sum()

In [88]:
groups

                             Unnamed: 0  Freq
Class Sex    Survived Age
1st   Female No       Adult          13     4
                      Child           5     0
             Yes      Adult          29   140
                      Child          21     1
      Male   No       Adult           9   118
                      Child           1     0
             Yes      Adult          25    57
                      Child          17     5
2nd   Female No       Adult          14    13
                      Child           6     0
             Yes      Adult          30    80
                      Child          22    13
      Male   No       Adult          10   154
                      Child           2     0
             Yes      Adult          26    14
                      Child          18    11
3rd   Female No       Adult          15    89
                      Child           7    17
             Yes      Adult          31    76
                      Child          23    14
      Male   No       Adult          11   387
                      Child           3    35
             Yes      Adult          27    75
                      Child          19    13
Crew  Female No       Adult          16     3
                      Child           8     0
             Yes      Adult          32    20
                      Child          24     0
      Male   No       Adult          12   670
                      Child           4     0
             Yes      Adult          28   192
                      Child          20     0